.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
*.tfstate.*
*.tfvars
*.tfvars.json

.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
strapi-terraform.pem